.elementWrapper {
  position: relative;
  border-radius: 5px;
  border: 1px rgba(255 255 255 / 5%) solid;
  background-color: #1b1b1b;
  cursor: pointer;
}

.elementOverlay {
  display: none;
}

.elementWrapper:hover .elementOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 10;
  background-color: rgba(0 0 0 / 50%);
  border-radius: 5px;
}

.elementOverlayText {
  animation: overlay-flashing-text 1500ms alternate infinite;
}

.elementContainer {
  min-height: 100px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@keyframes overlay-flashing-text {
  0% {
    color: rgba(255 255 255 / 75%);
  }

  50% {
    color: rgba(255 255 255 / 50%);
  }
}
